.wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.wrapper a {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}

.wrapper a:after {
  content: attr(data-author);
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.wrapper__container {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  flex-direction: column;
  width: 1550px; /* adjust the width as necessary */
  overflow: hidden;
}

.wrapper__container a {
  flex-shrink: 0;
  height: 400px;
  width: 1000px; /* same as the wrapper container width */
  display: inline-block;
}

.wrapper__container a::after {
  content: attr(href);
  display: none;
}

.wrapper__container a:hover::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 18px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.8);
}

.svelte-izfvso {
  color: #fff;
  text-shadow: 0 0 10px #000;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-right: 50px;
  text-decoration: none;
}

.svelte-izfvso:hover {
  transition: background-color 0.3s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wrapper__container a:nth-child(1),
.wrapper__container a:nth-child(2) {
  animation-delay: 0s;
  animation-duration: 20s;
}

.wrapper__container a:nth-child(3),
.wrapper__container a:nth-child(4) {
  animation-delay: 25s;
  animation-duration: 20s;
}

.wrapper__container a:nth-child(5),
.wrapper__container a:nth-child(6) {
  animation-delay: 50s;
  animation-duration: 20s;
}

.wrapper__container a:nth-child(7),
.wrapper__container a:nth-child(8) {
  animation-delay: 75s;
  animation-duration: 20s;
}

.wrapper__container a:nth-child(9),
.wrapper__container a:nth-child(10) {
  animation-delay: 100s;
  animation-duration: 20s;
}

.wrapper__container a:nth-child(11),
.wrapper__container a:nth-child(12) {
  animation-delay: 125s;
  animation-duration: 20s;
}
