@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@font-face {
    font-family: 'Segoe Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe Script Regular'), url('../font/Segoe\ Script.woff') format('woff');
}

.quote-of-the-day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Segoe Script Regular', cursive;
}
q{
  font-size: 20px;
  color: white;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.quote {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.quote-button {
  background-color: #16faf385;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.quote-button:hover {
  background-color: yellowgreen;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  
  .quote {
    font-size: 20px;
  }
  
  .quote-button {
    font-size: 18px;
    padding: 8px 16px;
  }
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 40px;
  }
  
  .quote {
    font-size: 30px;
  }
  
  .quote-button {
    font-size: 20px;
    padding: 10px 20px;
  }
}
