@font-face {
    font-family: 'Segoe Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe Script Regular'), url('../font/Segoe\ Script.woff') format('woff');
}

p{
    font-family: 'Segoe Script Regular';
}